.login-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    gap: 60px;
    padding-top: 75px;
    padding-bottom: 70px;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 40px;
    gap: 30px;

    width: 500px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.login-card .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    width: 100%;
    height: 350px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.login-card .form .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.login-card .form .input-field .form-input {
    width: 100%;
    height: 50px;
    
    background: #FFFFFF;
    border: 2px solid #000000;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.error {
    color: #e45d6b;
    font-size: 0.8em;
}

.login-card .form .submit-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    gap: 10px;

    width: 420px;
    height: 68px;

    background: #000000;
    color: white;
    border-radius: 10px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.login-image {
    box-sizing: border-box;

    width: 555px;
    height: 673px;

    background: #EBEBEB;
    border: 2px solid #000000;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}