.main-div {
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    flex-direction: column;
}

.title {
    text-align: center;
}

.filter-section {
    display: flex;
    justify-content: center;
}

.filter-section #search-bar {
    width: 60%;
    /* font-size: 20px; */
    /* border: solid black 1px;
    border-radius: 10px; */
    padding-left: 2%;
    padding-right: 2%;
    margin: 2%;
}


.filter-section #sort-dropdown {
    font-size: 20px;
    color: gray;
    margin: 2%;
}

.starred-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}



