.dog-icon{
   margin-right: 15px;
 }
.company-icon{
   margin-right: 15px;
}
.socials{
    color: white;
    justify-content: space-evenly;
}
.footer-content{
   text-align: left;
   color: white;
}

#footer-links{
   text-decoration: none;
   color:white;
}
#footer-links:hover, #footer-link:active{
   color: #48457c;
}