.footer {
   background-color: var(--balto-main);
   border-radius: 0px !important;
   display: flex;
   flex-flow: row wrap;
   gap: 40px;
   padding-bottom: 0px !important;
}

.copyright-line {
   border-top: solid 1.5px rgba(255,255,255,0.4);
   height: 90px;
}

.dog-icon{
   margin-right: 15px;
 }
.company-icon{
   margin-right: 15px;
}
.socials{
    color: white;
    justify-content: space-evenly;
}
.footer-content{
   text-align: left;
   color: white;
}

#footer-links{
   text-decoration: none;
   color:white;
}
#footer-links:hover, #footer-link:active{
   padding-right: 0px !important;
   color: #48457c;
}