/* sub-sections of the page */
.dog-record-detail .secondary-container {
    background-color: white;
    padding: 40px;
    margin: 10px;
}

.dog-record-detail .dog-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;
}
.main-top-header{
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.test{
    background-color: blue;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.dog-name-title{
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}
.test2{
    background-color: brown;
}
/* View Public Profile, Edit, and Delete Buttons */
.dog-record-detail .bottom-buttons {
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.checkbox-line {
    display: flex;
    margin-bottom: 5px;
}

