.shelter-overview {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* SEARCHBAR AND ADD RECORD BUTTON */
.shelter-overview .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

/* add button */
.dog-record-add-btn {
    width: 100px;
    flex-shrink: 1;
}

.dog-name {
    font-weight: 500;
    font-size: 1.1em;
}

.shelter-overview .dog-image-icon {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    object-fit: cover;
    background-color: lightgrey;
    margin-left: 5px;
    margin-right: 10px;
}