.shelter-overview {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* DataGrid component */
.shelter-overview-grid {
    background-color: white;
    padding: 20px;
    border-radius: var(--border-radius-small);
}

/* SEARCHBAR AND ADD RECORD BUTTON */
.shelter-overview .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

/* add button */
.dog-record-add-btn {
    width: 100px;
    flex-shrink: 1;
}

/* search bar */
.dog-record-search {
    width: 100%;
    min-width: 400px;
}

.dog-name {
    font-weight: 500;
    font-size: 1.1em;
}

.dog-record-image {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    object-fit: cover;
    background-color: lightgrey;
}