.dog-card {
    white-space: nowrap;
    background-color: white;
    height: 365px;
    width: 230px;
    border-radius: 10px;
}

.dog-card-img{
    width: 100%;
    height: 253px;
    border-radius: 10px;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 1 / 1.1;
    cursor: pointer;
}

/* body of the card */
.dog-card .dog-info {
    padding: 15px 15px 20px 15px;
}

/* flexbox to format the name/distance and the star button to be spaced apart */
.dog-card .dog-info-topline {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/* flexbox to format name and distance */
.dog-card .dog-info-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    gap: 10px;
}

/* TEXT CONTENTS BELOW */

.dog-card .dog-info-header .dog-distance {
    height: 100%;
    font-weight: 400;
    font-size: 0.9em;
    color: rgb(117, 117, 117);
}

.dog-card .dog-name {
    height: 100%;
    max-width: 70%;
    font-size: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dog-card .dog-info .dog-details > * {
    margin: 0;
}