.dog-card {
    white-space: nowrap;
    background-color: white;
    min-width: var(--min-dog-card-width);
    border-radius: var(--border-radius-small);
    box-shadow: var(--card-box-shadow);
}

.dog-card-img{
    width: 100%;
    border-radius: var(--border-radius-small);
    object-fit: cover;
    aspect-ratio: 1 / 1.1;
    cursor: pointer;
}

.dog-card .dog-info {
    padding: var(--gap-medium);
    padding-top: var(--gap-small);
}

.dog-card .dog-info-topline {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.dog-card .dog-info-topline .dog-name-distance {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: var(--gap-small);
    width: 80%;
}

.dog-card .dog-info-topline .dog-name-distance .dog-distance {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: var(--gap-xsmall);
}

.dog-card .dog-info-topline .dog-name {
    font-family: var(--header-font-family);
    font-size: 1.2em;
    font-weight: 500;
    max-width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dog-card .dog-info-topline .dog-distance {
    font-size: 0.8em;
    color: var(--body-text-medium);
    gap: 30px;
}