.dog-search-page {
    min-height: 600px;
    background-color: var(--light-bg-grey);
    border-radius: 0% !important;
}

.dog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-dog-card-width), 1fr));
    grid-column-gap: var(--gap-medium);
    grid-row-gap: var(--gap-medium);
}
.applied-filters-title{
    font-size: 18px;
}
.search-dog-header{
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin-bottom: 10px;
}
#applied-filters{
    display:flex;
    flex-direction: column;
    width: 66%;
}
.applied-filters-chip{
    margin: 5px;
}

.dog-record-sort {
    align-self: flex-end;
    right: 0;
    position: absolute;
}