.dog-search-page {
    min-height: 600px;
    background-color: var(--light-bg-grey);
    border-radius: 0% !important;
}

/* added margin to the badge that indicates the number of active filters */
.filter-badge {
    margin-left: var(--gap-small);
}

/* ex. 10 results */
#result-count-label {
    font-family: var(--body-font-family);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: var(--gap-small);
}

/* flexbox that contains all the filter chips + the clear all button */
.applied-filters {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--gap-small);

}

.applied-filters-chip {
    margin: var(--gap-small) var(--gap-small) var(--gap-small) 0px;
    font-family: var(--body-font-family) !important;
    background-color: var(--balto-main) !important;
    color: white !important;
    border-radius: var(--border-radius-small) !important;
}

#filter-clear-label {
    color: var(--body-text-medium);
    text-decoration: underline;
    font-size: 0.9em;
    cursor: pointer;
}

/* flexbox that includes the applied filters and the sort dropdown */
.dog-search-topline {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: var(--gap-medium);
}
