.landing-page{
    width: 100%;
    padding-bottom: 15px;
}
.landing-container{
    align-items: center;
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    gap: 10px;
}

.quiz-btn{
    padding: 10px 15px 10px 20px;
    text-align: center;
    justify-content: center;
    background-color: white;
    border-radius:5px;
    border-style: solid;
    border-color: #869DEC;
    color: #869DEC;
    font-weight: 550;
    font-size: 14px;
    cursor: pointer;
}
.quiz-btn .quiz-icon{
    margin-left: 2px;
    padding: 5px 5px 5px 5px;
    vertical-align:middle;
}

.landing-dog-grid{
    width:80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 55px;
    align-items: center;
    padding: 20px 20px 50px 20px;
}
.landing-dog-grids{
    padding-bottom: 80px;
}
.landing-see-more-btn{
    padding: 12.5px 20px 12.5px 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: #908af8;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}