.add-record-card {
    width: 70%;
    margin: 0 auto;
}

.form-label {
    font-weight: 500;
    font-size: 1.1em;
}
.save-btn{
    float: right;
}
.save-btn-area{
    margin-bottom: 55px;
}
.update-toast {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.dog-icon-toast{
    height: 28px;
    width: 28px;
    margin-right: 5px;
}
.photo-area .camera-icon{
    width: 100px;
    height: 100px;
    align-items:'center';
    justify-content:'center';
    vertical-align: middle;
    margin-top: 60px;
    margin-bottom: 10px;
}
.photo-area{
    background-color: white;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}
