.navbar {
    margin: 0 auto;
    width: 100%;
    flex-shrink: initial;
    max-width:fit-content;
    min-width: 1440px;
    height: 75px;
    display: flex;
    flex: initial;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo{
    font-weight: 800;
    font-size: 36px;
    color: #5d74bb;
    text-decoration: none;
}
.navbar .header {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; 
}
.navbar .header .logo{
    width: 100px;

}
.navlinks-div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 47%;
    margin-left: 3%;
}
.navlinks{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    
}
.navlinks .nav-header{
    display: inline;
    padding: 5px;
    height: 100px;
    width: 100px;
}
.navlinks .nav-header .links{
    padding: 12px;
    font-size: 16px;
    height: 50px;
    width: 100px;
    margin: 6px;
    color: black;
    text-decoration:none;
}
.nav-btns{
    justify-content: space-evenly;
    width: 20%;
}
.navbar-btns{
    align-items: flex-end;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    margin-left: 20px;
    border: none;
    border-radius: 7px;
    padding: 10px 16px 10px 16px;
    cursor: pointer;
   
}

#login{
    background-color: #908af8;
    border: none;
    color: white;
}